<div class="modal modal--objects fade show" tabindex="-1" role="dialog" onsubmit="return false;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Object overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tiles-categories">
                    <a class="active" data-value=create>Create</a>
                    <a data-value=edit>Edit</a>
                    <a data-value=item_weapon>Items</a>
                    <a data-value=world_tree>Trees</a>
                    <a data-value=world_house>House</a>
                    <a data-value=world_stone>Stone</a>
                    <a data-value=player_npc>NPC</a>
                </div>
                <p class="error-container"></p>
                <p class="success-container"></p>
                <div class="tiles-container"></div>
                <div class="create-tile-container">
                    {{> editor.popup.tiles.edit}}
                </div>

            </div>
            <div class="modal-footer">
                <button id="footerCancelBtn" class="btn btn-default">Cancel</button>
                <button id="footerSelectBtn" class="btn btn-primary" style="display: none">Select</button>
                <button id="footerSubmitBtn" class="btn btn-primary" style="display: none">Create</button>
                <button id="footerEditBtn" class="btn btn-primary" style="display: none">Edit</button>
            </div>
        </div>
    </div>
</div>