<div class="modal modal--load-game fade show" tabindex="-1" role="dialog" onsubmit="return false;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class='col-sm-5'>

                        <!-- type-->
                        <div class="form-group row">
                            <label for="createGameType" class="col-sm-3 col-form-label">Type</label>
                            <div>
                                <select name=type class="form-control" required id="createGameType">
                                    <optgroup label="2D">
                                        <option value=topDown>Top down</option>
                                        <option value=topDownAngle selected>Top down / angle (2.5D)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <!-- name -->
                        <div class="form-group row">
                            <label for="createGameName" class="col-sm-3 col-form-label">Name</label>
                            <div>
                                <input name=name type=text class="form-control" id=createGameName value="{{name}}"
                                   autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-autodestroy id="footerCancelBtn" class="btn btn-default">Cancel</button>
                <button id="footerSubmitBtn" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>